/* =Reset
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%;
	/* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll;
	/* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%;
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%;
	/* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: """";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	/* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

a img {
	border: 0;
}


body {
	background-repeat: no-repeat;
	background-color: rgb(226, 226, 226);
	background-image: linear-gradient(to bottom, rgb(28, 95, 182) 300px, rgb(226, 226, 226) 300px);
	font-size: 16px;
	color: #333;
	font-family: sans-serif;
}

.wrapper {
	width: 960px;
	margin: 0px auto;
	height: 1000px;
}

header {
	color: #fff;
	display: flex;
}

header>* {
	flex-grow: 0;
	flex-basis: 50%;
}

header h1 {
	font-size: 2.5rem;
	color: #fff;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.content {
	background: #fff;
	border-radius: 1rem;

	height: 600px;
	box-sizing: border-box;
	padding: 2rem;

}

.url-input-wrapper {
	display: flex;
}

.url-input-wrapper button,
.url-input-wrapper input {
	border: 0;
	height: 56px;
}

.url-input-wrapper button {

	margin-left: 12px;

}

.url-input-wrapper  > div {
	width: 100%;
}
.url-input-wrapper input {
	
	font-size: 16px;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 2px 2px 0 0;
	transition: 200ms linear border;
	padding-left: 44px;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTMuOSAxMmMwLTEuNzEgMS4zOS0zLjEgMy4xLTMuMWg0VjdIN2MtMi43NiAwLTUgMi4yNC01IDVzMi4yNCA1IDUgNWg0di0xLjlIN2MtMS43MSAwLTMuMS0xLjM5LTMuMS0zLjF6TTggMTNoOHYtMkg4djJ6bTktNmgtNHYxLjloNGMxLjcxIDAgMy4xIDEuMzkgMy4xIDMuMXMtMS4zOSAzLjEtMy4xIDMuMWgtNFYxN2g0YzIuNzYgMCA1LTIuMjQgNS01cy0yLjI0LTUtNS01eiIvPjwvc3ZnPg==') no-repeat 12px center;

}

.url-input-wrapper input:focus {
	border-color: #888;
}

button {
	background: rgb(240, 76, 0);
	padding: 16px 24px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: none;
	letter-spacing: 1px;
	line-height: 1;
	height: auto;
	width: auto;
	transition:100ms linear background-color;
}

button:hover {
	background-color:rgb(241, 115, 57);
}
button:active,button:focus {
	background-color:rgb(170, 58, 5);
}




.query-table {
	display: table;
	width: 100%;
}

.query-item-row {
	display: table-row;
}

.query-item-row:nth-child(2n) {
	background: #f4f4f4;
}

.query-item-row>* {
	display: table-cell;
	border-bottom: 1px solid #ddd;
	padding: 1rem;
}

.query-controls,
.query-count {
	width: 1rem;
}

.url-result {
	background: rgb(52, 60, 63);
	padding: 2rem;
	font-family: 'Courier New', Courier, monospace;
	margin:1rem 0;
}

.url-result a {
	color:#eee;
}



.baseline {
  height: 2px;
  background-color: #dcdcdc;
}

/* Hover.css > Underline From Left > Modfified */
.hvr-underline-from-left {
  -webkit-transform: perspective(1px) translateZ(0);            
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: block;
  /*display: inline-block;*/
  overflow: hidden;
  position: relative;
  transform: perspective(1px) translateZ(0);
  /* vertical-align: middle;*/
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(28, 95, 182);
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, 
.hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
  right: 0;
} 

/* Crucial style rule */
input:focus + .hvr-underline-from-left:before {
  right: 0;
} 



.uf-protocol { background-color: cyan; color:#000;}
.uf-username { background-color:rgb(206, 52, 52)}
.uf-password { background-color: rgb(54, 54, 221)}
.uf-host { background-color:rgb(148, 107, 177)}
.uf-port {background-color:rgb(112, 64, 18)}
.uf-path { background-color:rgb(95, 95, 167)}

.uf-query-item { background-color:rgb(25, 90, 128) }
.uf-query-value { background-color:rgb(83, 107, 27) }


.uf-hash {
	background:yellow;
	color:#000;
}
.uf-at,
.uf-colon,
.uf-slash,
.uf-question-mark, 
.uf-equal-sign, 
.uf-ampersand 
{ background-color:rgb(110, 110, 110); }

span[class^='uf-'] {
	display: inline-block;
	padding:0.7rem 0.2rem;
}



